<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('saa') %>
      <div class="flex-container">
        <div class="flex-child">
          <h2><%= uutisetData[0].otsikko %></h2>
        </div>
        <div class="flex-child">
          Text 2
        </div>
        <div class="flex-child">
          <div content-container>
            <div class="uusimmat">
              <h2 class="otsikko">Uusimmat uutiset</h2>
              Test
            </div>
            <div class="vierailevat">
              <h2 class="otsikko">Vierailevat kirjoittajat</h2>
              Test
            </div>
          </div>
        </div>
      </div>
      
    </main>
  </body>
</html>