<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('header') %>
    <main>
      <%- include('saa') %>
      <div class="flex-container">
        <div class="flex-child">
          Text 1
        </div>
        <div class="flex-child">
          Text 2
        </div>
        <div class="flex-child">
          Text 3
          
        </div>
      </div>
      
    </main>
  </body>
</html>